@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #DDAAE6;
  color: #271952;
  // color: white;
  font-family: 'Arya', sans-serif;
  // background: url("plaid6.jpg") center top no-repeat;
}

a {
  color: #220750;
}

a:hover {
  color: white;
}

li {
  list-style-type: none;
}

.click:hover {
  -webkit-transform: scale(1.5, 1.5);
  cursor: pointer;
}
