@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #DDAAE6;
  color: #220750;
  font-family: 'Arya', sans-serif;
}

a {
  color: #220750;
}

a:hover {
  color: white;
}

li {
  list-style-type: none;
}
